*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!CodecJOrbis.jar
!discord-rpc
!ini4j-0.5.4.jar
!ini4j-0.5.4-jdk14.jar
!LibraryJavaSound.jar
!SoundSystem.jar
!SoundSystemJPCT.jar
!CodecJOgg.jar
!easyogg.jar
!jogg-0.0.7.jar
!joml-jdk8-1.9.9.jar
!jorbis-0.0.15.jar
!luaj-jme-3.0.1.jar
!luaj-jse-3.0.1.jar
!luaj-sources-3.0.1.jar
!netty-all-4.1.21.Final.jar
!discord-rpc-0.9-BETA-4.jar
!lwjgl.jar
!lwjgl-assimp-javadoc.jar
!lwjgl-assimp-natives-windows.jar
!lwjgl-assimp.jar
!lwjgl-bgfx-natives-windows.jar
!lwjgl-bgfx.jar
!lwjgl-egl.jar
!lwjgl-glfw-natives-windows.jar
!lwjgl-glfw.jar
!lwjgl-jawt.jar
!lwjgl-jemalloc-natives-windows.jar
!lwjgl-jemalloc.jar
!lwjgl-lmdb-natives-windows.jar
!lwjgl-lmdb.jar
!lwjgl-nanovg-natives-windows.jar
!lwjgl-nanovg-sources.jar
!lwjgl-nanovg.jar
!lwjgl-natives-windows.jar
!lwjgl-nfd-natives-windows.jar
!lwjgl-nfd.jar
!lwjgl-nuklear-natives-windows.jar
!lwjgl-nuklear.jar
!lwjgl-openal-natives-windows.jar
!lwjgl-openal.jar
!lwjgl-opencl.jar
!lwjgl-opengl-natives-windows.jar
!lwjgl-opengl.jar
!lwjgl-opengles-natives-windows.jar
!lwjgl-opengles.jar
!lwjgl-openvr-natives-windows.jar
!lwjgl-openvr.jar
!lwjgl-ovr-natives-windows.jar
!lwjgl-ovr.jar
!lwjgl-par-natives-windows.jar
!lwjgl-par.jar
!lwjgl-rpmalloc-natives-windows.jar
!lwjgl-rpmalloc.jar
!lwjgl-sse-natives-windows.jar
!lwjgl-sse.jar
!lwjgl-stb-natives-windows.jar
!lwjgl-stb.jar
!lwjgl-tinyexr-natives-windows.jar
!lwjgl-tinyexr.jar
!lwjgl-tinyfd-natives-windows.jar
!lwjgl-tinyfd.jar
!lwjgl-vulkan.jar
!lwjgl-xxhash-natives-windows.jar
!lwjgl-xxhash.jar
!lwjgl-yoga-natives-windows.jar
!lwjgl-yoga.jar

*.war
*.ear


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.metadata
bin/com/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools 
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
RemoteSystemsTempFiles/

Game/gliConfig_FullDebug\.ini

*.lnk
